.chartbuilder-storage
    width 80%
    margin 0px auto

.storageItem
    width 31%
    margin 0 2% 2% 0
    float left
    height 300px
    .itemSlug
        text-align center

.storageItem img
    width 100%
